
  <!--DO NOT REMOVE-->
  {{ patternLabFoot | raw }}

  <script type="text/javascript" src="../../../../js/jquery.min.js"></script>
  <script type="text/javascript" src="../../../../js/velocity.min.js"></script>
  <script type="text/javascript" src="../../../../js/svg4everybody.min.js"></script>

  <script src="{{directory}}/assets/js/scripts.js"></script>

  <script type="text/javascript" src="../../../../js/mainspring.config.js"></script>

    </main>
  </body>
</html>
